<header class="header">
    <div class="header_title"><a href="/">こども作品保存箱</a></div>
    <div class="header_right">
        <div class="top_back"><a href="/">top page</a></div>
    </div>
</header>

<div class="container">
    <div class="ently_container">
        <h2 class="sub_title">おなまえ登録</h2>
         <%= form_with(model: @user, local: true) do |form| %>
            <%= form.text_field :name, placeholder: "タロウ", class: "ently_name" %>
            <div class="ently_btn_box">
              <%= form.submit "登録", class: "ently_btn" %>
            </div>
        <% end %>
       
    </div>
    
    
</div>