
<header class="header">
    <div class="header_title"><a href="/">こども作品保存箱</a></div>
    <div class="header_right">
        <div class="top_back"><a href="/">トップページへ</a></div>
    </div>
</header>

<div class="contents">
     <div class="box_title"><%= @name %>の作品集</div>
        <%= link_to "art new", new_user_art_path(@user.id), class: "art_new"%>
    <div class="boxs">
        <% @arts.each do |art| %>
        <div class="art_box">
            <div class="art_left">
                <%= art.title %>
            </div>
            <div class="art_right">
                <%= image_tag art.image %>
            </div>
        </div>
        <% end %>
    </div>
    
</div>