<header class="header">
    <div class="header_title"><a href="/">こども作品保存箱</a></div>
    <div class="header_right">
        <%= link_to "name ently", new_user_path, class: "name_ently" %>
        
        <div class="name_select">name select
           <div class="name_list_box">
            <% @users.each do |user|  %>
                <div class="name_list hedden">
                   <%= link_to "#{user.name}", user_path(user.id) %>
                </div>
            <% end %>
           </div>
        </div>
    </div>
</header>

<div class="contents">
    <div class="boxs">
        <% @arts.each do |art| %>
        <div class="art_box">
            <div class="art_left">
                <div class="left_title">
                    <%= art.title %>
                </div>
               
            </div>
            <div class="art_right">
                <%= image_tag art.image %>
            </div>
        </div>
        <% end %>
    </div>

    
</div>