<header class="header">
    <div class="header_title">こども作品保存箱</div>
    <div class="header_right">
        <div class="name_ently">name ently</div>
        <div class="name_select">name select</div>
    </div>
</header>

<div class="container">
    <div class="boxs">
        <% @arts.each do |art| %>
        <div class="art_box">
            <div class="art_left">
                <%= art.title %>
            </div>
            <div class="art_right">
                <%= image_tag art.image %>
            </div>
        </div>
        <% end %>
    </div>
    
    
</div>