@charset "utf-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
    /*color: white;*/
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/*ヘッダー＝＝＝＝＝＝＝＝*/
.header {
    background-color: #faa61a;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 0 16%;
}

.header_right {
    display: flex;
}

.header_title {
    font-size: 40px;
    line-height: 100px;
}

.name_ently,
.name_select,
.top_back {
    height: 80px;
    width: 80px;
    margin: 10px;
    padding: 15px;
    align-items: center;
    line-height: 20px;
    border: 1px solid ;
    /*box-shadow: 0px 2px  #8a4121;*/
    
}

 /*なまえリスト　プルダウン＝＝＝＝＝*/
.name_select {
    position: relative;
}
.name_list_box {
    position: absolute;
    top: 100px;
    left: 100px;
    height: 200px;
    width: 100px;
    
}

.hedden {
    /*display: none;*/
}

.name_list {
    width: 100px;
    height: 40px;
    background-color: #faa61a;
    border: 1px solid #fff8cf;
    padding-bottom: 5px;
    text-align: center;
    line-height: 40px;
}



/*共通部分＝＝＝＝＝*/
.contents {
    background-color: #fff8cf;
    /*height: calc(100% - 100px);*/
    padding: 30px;
}
.container {
    background-color: #fff8cf;
    height: calc(100vh - 100px);
    padding: 30px;
}

.sub_title {
    font-size: 20px;
    margin-bottom: 30px;
}

/*トップページ＝＝＝＝＝*/
.boxs {
    /*background-color: pink;*/
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*margin: 0 15% 30px;*/
}
.art_box {
    display: flex;
    justify-content: space-around;
    background-color: #a6ce39;
    margin: 0 15% 30px;
    padding: 20px;
    box-shadow: 0px 5px #ced1b3;
}

.left_title {
    font-size: 30px;
    margin: 10px 0;
}
.left_grate {
    font-size: 14px;
    margin:0 0 20px 30px;
    
}
.left_name {
    font-size: 20px;
    margin:0 0 30px 30px;
}


.left_content {
    height: 100px;
    width: 250px;
    font-size: 20px;
    margin:0 0 30px 30px;
    
}

.art_right {
    height: 300px;
    width: 300px;
}

/*なまえ登録ページ＝＝＝*/
.ently_container {
    background-color: #a6ce39;
    height: 300px;
    width: 500px;
    margin: 50px auto;
    padding: 30px;
    box-shadow: 0px 5px #ced1b3;
}

.ently_name {
    height: 40px;
    width: 400px;
    padding: 10px;
    margin-bottom: 30px;
    border-style: none;
    border-radius: 5px;
}

.ently_btn,
.art_btn {
    background-color: #faa61a;
    height: 40px;
    width: 100px;
    margin-bottom: 30px;
    border-style: none;
    border-radius: 5px;
    box-shadow: 0px 2px #8a4121;
    cursor: pointer;
}

.ently_btn_box,
.art_btn_grit {
    margin-top: 30px;
    text-align: center;
}

/*個別一覧ページ＝＝＝＝＝*/
.new_art_box {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.box_title {
    font-size: 30px;
    color: black;
    margin-right: 100px;
}
.art_new {
    background-color: #faa61a;
    height: 80px;
    width: 80px;
    /*margin-right: 15%;*/
    padding: 10px;
    align-items: center;
    border: 1px solid #000;
    line-height: 18px;
     border: 1px solid #ced1b3;
    box-shadow: 0px 2px #8a4121;
}

.left_btn {
    display: flex;
    justify-content: space-around;
    
}
.btn_edit,
.btn_delete {
    background-color: #faa61a;
    box-shadow: 0px 2px #8a4121;
    height: 40px;
    width: 100px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
}


/*作品投稿＝＝＝＝＝*/
.art_container {
    background-color: #a6ce39;
    height: 500px;
    width: 500px;
    margin: 50px auto;
    padding: 30px;
    box-shadow: 0px 5px #ced1b3;
}
.art_title,
.art_grate,
.art_content {
    height: 40px;
    padding: 10px;
    border-style: none;
    border-radius: 5px;
    margin-bottom: 30px;
}

.art_title {
    width: 400px;
}
.art_image {
    margin-bottom: 30px;
}


.art_grate {
    width: 50px;
}

.art_content {
    height: 80px;
    width: 400px;
}

 
